
              
              <!--<pre>item passed to partial is = <%= actionArray %></pre>-->
              <!-- change here putting option according to the loop-->
              <!--<label for ="instance"> ith instance:</label>
              <input id = "instance" type="text" name="instance">-->
            <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" for="action">action</label>
                        <div class="col-sm-10">
                          
                          <select name="action" id="action"  class="form-select" aria-label="Default select example">
                

              
              <% for(let i=0;i<actionArray.length; i++){ %>

  
                <option value="<%= actionArray[i] %>"> <%= actionArray[i] %></option>
            <% } %>
                </select>
                </div>
                      </div>
                <br>
                <div class="row mb-3">
                <label for ="time" class="col-sm-2 col-form-label"> appears before/after time(sec) </label>
                <div class="col-sm-10">
              <input  class="form-control" id = "time" type="text" name="time">
          </div>
      </div>

      <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary">Submit Form</button>
                        </div>
                      </div>
      