

    <p id="pass">
                <% //var file1= JSON.stringify(global.file1.name) %>
                <%= //file1 = file1.slice(1,-6) %>
                
                <br>
                <% //var file2 = JSON.stringify(global.file2.name) %>
                <%= //file2 = file2.slice(1,-6) %>
                
              </p>
               <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">action</label>
                        <div class="col-sm-10">
              <select name="actions" id="actions" class="form-select" aria-label="Default select example">
              <% for(let i=0;i<actionArray.length; i++){ %>

  
                <option value="<%= actionArray[i] %>"> <%= actionArray[i] %></option>
            <% } %>
    
  </select>
                        </div>
                      </div>

                       <div class="row mb-3">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                          <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
   
      
